/* PAGE STRUCTURE */
#container { position:relative; width:100%; min-width:760px; padding:0; }
#content { margin:10px 15px; }
#header { width:100%; }
#content-main { float:left; width:100%; }
#content-related { float:right; width:18em; position:relative; margin-right:-19em; }
#footer { clear:both; padding:10px; }

/*  COLUMN TYPES  */
.colMS { margin-right:20em !important; }
.colSM { margin-left:20em !important; }
.colSM #content-related { float:left; margin-right:0; margin-left:-19em; }
.colSM #content-main { float:right; }
.popup .colM { width:95%; }
.subcol { float:left; width:46%; margin-right:15px; }
.dashboard #content { width:500px; }


/* Primary Meny */

#primary_menu {
    position: absolute;
    top: 1px;
    right: 20px;
    background: url("/images/bar-left.png") no-repeat scroll 0 0 transparent;
    float: right;
    font-size: 12px;
    height: 39px;
    padding-left: 6px;
}

#primary_menu a {
    color: #4183C4;
    font-weight: bold;
    text-decoration: none;
}

#primary_menu a:visited {
    color: #4183C4;
    font-weight: bold;
    text-decoration: none;
}

#primary_menu a:hover {
    text-decoration: underline;
    background: transparent;
}

#primary_menu_inner {
    background: url("/images/bar-right.png") no-repeat scroll 100% 0 transparent;
    height: 29px;
    padding: 10px 12px 0 6px;
}


#primary_menu ul {
    display: inline;
    padding: 0;
}

#primary_menu li {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0 0 0 15px;
    font-size: 100%;
    background: url("/images/bar_separator.gif") no-repeat scroll 5px 0 transparent
}

#primary_menu li a {
    text-shadow: 1px 1px 0 #FFFFFF
}

/*  HEADER  */
#header { 
    background: url("/images/header_bg.gif") repeat-x scroll 0 100% #FCFCFC; 
    color:#ffc; 
    overflow:hidden; 

    height: 115px;
}

#username {
    display: inline;
    color: black;
}

#username a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

#username a:visited {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

#username a:hover {
    text-decoration: underline;
    background: transparent;
}

#branding {
    margin-top: 20px;
}

#branding h1 { 
    padding:0 10px; 
    font-size:180%;
     margin:8px 0; 
     font-weight:bold; 
     color: black; 
     }
     
#branding h2 { 
    padding:0 10px; 
    font-size:140%; 
    margin:8px 0 8px 0; 
    font-weight:normal; 
    color:black;
    
     }
#user-tools { position:absolute; top:0; right:0; padding:1.2em 10px; font-size:11px; text-align:right; }

#xos-logo {
    margin: 5px;
    float: left;
}

/* SIDEBAR */
#content-related h3 { font-size:12px; color:#666; margin-bottom:3px; }
#content-related h4 { font-size:11px; }
#content-related .module h2 { background:#eee url(/images/nav-bg.gif) bottom left repeat-x; color:#666; }




/* LAYOUT */

#layout-column-left {
    margin-left: 2.5%;
    width: 45%;
    float: left;
}

#layout-column-right {
    margin-right: 2.5%;
    width: 45%;
    float: right;
}